# OS Specific
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.cache
.pytest_cache
.coverage
htmlcov/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
dist-ssr/
*.suo
*.ntvs*
*.njsproj
*.sln

# Node / React
node_modules/
/frontend/dist/
/frontend/node_modules/
.npm
.eslintcache
.stylelintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*
logs/
*.log

# Environment & Private Data
.env
.env.local
.env.*.local
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# backend
backend/scratchpad/
backend/data/

# Docker
docker-data/